<%- include('partials/header') %>
  <div id="homepage-carousel" class="carousel slide carousel-fade" data-ride="carousel" data-pause=false>
    <div class="overlay">
      <div class="d-flex flex-column overlayItem">
        <%- include('partials/navBar', {bgColor: 'bg-transparent', color: 'navbar-dark'}) %>
        <div class="flex-grow-1 d-flex align-items-center justify-content-center flex-column text-center">
          <h1 class="text-white">Welcome to my homepage</h1>
          <a href="/blog" class="btn btn-outline-light">Visit my blog</a>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738215/blog/carousel-image/carousel_1_ohbrk9.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738215/blog/carousel-image/carousel_2_lsxze7.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738215/blog/carousel-image/carousel_3_ntve2b.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738215/blog/carousel-image/carousel_4_bottm0.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738215/blog/carousel-image/carousel_5_r6iijf.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738216/blog/carousel-image/carousel_6_ngyblz.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738216/blog/carousel-image/carousel_7_brqd4k.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738216/blog/carousel-image/carousel_8_f7t5lh.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/daniel-chan/image/upload/v1586738216/blog/carousel-image/carousel_9_o3ijaz.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<%- include('partials/footer') %>